body{
    font-family: Arial, Helvetica, sans-serif;

}

.container{
    width: 80%;
    margin: 40px auto;
}

.section-title{
    font-size: 24px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.header{
    border-bottom: 2px solid red;
    width: 10%;
}

.feature-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 30px;
}

.feature-item{
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-box{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    transform: rotate(45deg);
    background: rgba(231, 76, 60, 0.05);
}

.icon-box img{
    width: 32px;
    height: 32px;
    transform: rotate(-45deg);
}


.feature-content h3{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.feature-content p{
    width: 31%;
    text-align: left;
    font-size: 10px;
    color: #666;
    margin-top: 5px;
}
